---
title: Zurb Foundation Based Project
pageheader: Welcome to Foundation
layout: app/html/layouts/default.hbs
---

		<!-- Content -->
		<div class="row">
			<div class="large-8 columns">

				<h3>The Grid</h3>
				<div class="row">
					<div class="large-12 columns">
						<div class="panel">
							<p>This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<div class="panel">
							<p>Six columns</p>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="panel">
							<p>Six columns</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<div class="panel">
							<p>Four columns</p>
						</div>
					</div>
					<div class="large-4 columns">
						<div class="panel">
							<p>Four columns</p>
						</div>
					</div>
					<div class="large-4 columns">
						<div class="panel">
							<p>Four columns</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="large-3 columns">
						<div class="panel">
							<p>Three columns</p>
						</div>
					</div>
					<div class="large-3 columns">
						<div class="panel">
							<p>Three columns</p>
						</div>
					</div>
					<div class="large-3 columns">
						<div class="panel">
							<p>Three columns</p>
						</div>
					</div>
					<div class="large-3 columns">
						<div class="panel">
							<p>Three columns</p>
						</div>
					</div>
				</div>

				<h3>Buttons</h3>
				<div class="row">
					<div class="large-6 columns">
						<p><a href="#" class="small button">Small Button</a></p>
						<p><a href="#" class="button">Medium Button</a></p>
						<p><a href="#" class="large button">Large Button</a></p>
					</div>
					<div class="large-6 columns">
						<p><a href="#" class="small alert button">Small Alert Button</a></p>
						<p><a href="#" class="success button">Medium Success Button</a></p>
						<p><a href="#" class="large secondary button">Large Secondary Button</a></p>
					</div>
				</div>

			</div>

			<div class="large-4 columns">

				<h4>Getting Started</h4>
				<p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>

				{{>widget}}

			</div>
		</div>
		<!-- Content -->
